{% extends 'base.html.twig' %}

{% block body %}
{% include '_partials/_breadcrumb.html.twig' %}

<section class="property-details padding-y-120">
    <div class="container container-two">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="row gy-4">
							{% for property in properties %}

                    <div class="col-sm-12 col-6">
                        <div class="property-details__thumb">
							{% set pictures = property.propPicture|first %}
							{% if pictures is not null %}
                            <img src="{{ vich_uploader_asset(pictures, 'picFile') }}" alt="{{ property.propTitle }}" class="cover-img">
							{% endif %}
                        </div>
                    </div>
					{% set pictures = property.propPicture %}
					{% if pictures is not null %}
					{% for picture in pictures|slice(1, 3) %}
                    <div class="col-sm-4 col-6">
                        <div class="property-details__thumb">
                            <img src="{{ vich_uploader_asset(picture, 'picFile') }}" alt="{{ property.propTitle }}" class="cover-img">
                        </div>
                    </div>
					{% endfor %}
					{% endif %}
								{% endfor %}

                </div>
                <div class="property-details-wrapper">
                    <div class="property-details-item">
                        <h6 class="property-details-item__title">Preview</h6>
                        <div class="property-details-item__content">
                            <div class="row gy-4 gy-lg-5">
                                <div class="col-sm-4 col-6">
                                    <div class="amenities-content d-flex align-items-center">
                                        <span class="amenities-content__icon">
                                            <img src="{{ asset('assets/images/icons/amenities1.svg') }}" alt="">
                                        </span>
                                        <div class="amenities-content__inner">
                                            <span class="amenities-content__text">Room</span>
                                            <h6 class="amenities-content__title mb-0 font-16">{{ properties.propNbRooms}} rooms</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="amenities-content d-flex align-items-center">
                                        <span class="amenities-content__icon">
                                            <img src="{{ asset('assets/images/icons/amenities2.svg') }}" alt="">
                                        </span>
                                        <div class="amenities-content__inner">
                                            <span class="amenities-content__text">Bed</span>
                                            <h6 class="amenities-content__title mb-0 font-16">{{ properties.propNbBeds}} beds</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="amenities-content d-flex align-items-center">
                                        <span class="amenities-content__icon">
                                            <img src="{{ asset('assets/images/icons/amenities3.svg') }}" alt="">
                                        </span>
                                        <div class="amenities-content__inner">
                                            <span class="amenities-content__text">Bath</span>
                                            <h6 class="amenities-content__title mb-0 font-16">{{ properties.propNbBaths}} baths</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="amenities-content d-flex align-items-center">
                                        <span class="amenities-content__icon">
                                            <img src="{{ asset('assets/images/icons/amenities4.svg') }}" alt="">
                                        </span>
                                        <div class="amenities-content__inner">
                                            <span class="amenities-content__text">Space</span>
                                            <h6 class="amenities-content__title mb-0 font-16">{{ properties.propNbSpaces}} spaces</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="amenities-content d-flex align-items-center">
                                        <span class="amenities-content__icon">
                                            <img src="{{ asset('assets/images/icons/amenities5.svg') }}" alt="">
                                        </span>
                                        <div class="amenities-content__inner">
                                            <span class="amenities-content__text">Size</span>
                                            <h6 class="amenities-content__title mb-0 font-16">{{ properties.propSQM}} square meters</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="amenities-content d-flex align-items-center">
                                        <span class="amenities-content__icon">
                                            <img src="{{ asset('assets/images/icons/amenities6.svg') }}" alt="">
                                        </span>
                                        <div class="amenities-content__inner">
                                            <span class="amenities-content__text">Property Type</span>
                                            <h6 class="amenities-content__title mb-0 font-16">{{ properties.propHousingType}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="property-details-item">
                        <h6 class="property-details-item__title">Features</h6>
                        <div class="property-details-item__content">
                            <div class="row gy-2">
                                <div class="col-sm-6">
                                    <ul class="check-list">
                                        <li class="check-list__item d-flex align-items-center">
                                            <span class="icon"><i class="fas fa-check"></i></span>
                                            <span class="text">Dream Property Solutions</span>
                                        </li>
                                        <li class="check-list__item d-flex align-items-center">
                                            <span class="icon"><i class="fas fa-check"></i></span>
                                            <span class="text">Secure Property Partners</span>
                                        </li>
                                        <li class="check-list__item d-flex align-items-center">
                                            <span class="icon"><i class="fas fa-check"></i></span>
                                            <span class="text">Doors to Your Future</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="check-list">
                                        <li class="check-list__item d-flex align-items-center">
                                            <span class="icon"><i class="fas fa-check"></i></span>
                                            <span class="text">Prestige Property Management</span>
                                        </li>
                                        <li class="check-list__item d-flex align-items-center">
                                            <span class="icon"><i class="fas fa-check"></i></span>
                                            <span class="text">Global Real Estate Investments</span>
                                        </li>
                                        <li class="check-list__item d-flex align-items-center">
                                            <span class="icon"><i class="fas fa-check"></i></span>
                                            <span class="text">You Home with Experience</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="property-details-item">
                        <h6 class="property-details-item__title">Geopositioning</h6>
                        <div class="property-details-item__content">
							<input type="hidden" id="lat" data-latitude="{{ property.propLatitude }}">
							<input type="hidden" id="long" data-longitude="{{ property.propLongitude }}">
                            <div class="address-map" id="map"></div>
                        </div>
                    </div>
					<!-- <div class="property-details-item">
                        <h6 class="property-details-item__title">House</h6>
                        <div class="property-details-item__content">
                            <div class="house-content position-relative">
                                <img src="{{ asset('assets/images/thumbs/house.png') }}" alt="">
                                <a href="https://www.youtube.com/watch?v=pPl3ZZdTP3g" class="popup-video-link video-popup__button style-two">
                                    <i class="fas fa-play text-gradient"></i>
                                </a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="common-sidebar-wrapper">
                    <div class="common-sidebar">
						<h6 class="common-sidebar__title"> Category </h6>
						<ul class="category-list">
							<li class="category-list__item">
								<a href="{{ path('app_blog_classic') }}" class="category-list__link flx-between">
									<span class="text">Prime Investments</span>
									<span class="number">(1)</span>
								</a>
							</li>
							<li class="category-list__item">
								<a href="{{ path('app_blog_classic') }}" class="category-list__link flx-between">
									<span class="text">ProHome Finders</span>
									<span class="number"> (8) </span>
								</a>
							</li>
							<li class="category-list__item">
								<a href="{{ path('app_blog_classic') }}" class="category-list__link flx-between">
									<span class="text">SmartHouse Agency</span>
									<span class="number"> (3) </span>
								</a>
							</li>
							<li class="category-list__item">
								<a href="{{ path('app_blog_classic') }}" class="category-list__link flx-between">
									<span class="text">Secure Property Partners</span>
									<span class="number"> (5) </span>
								</a>
							</li>
						</ul>
					</div>
                    <div class="common-sidebar">
						<h6 class="common-sidebar__title"> Recent Post </h6>
						<div class="latest-blog">
							<div class="latest-blog__thumb">
								<a href="{{ path('app_blog_details') }}"> <img src="{{ asset('assets/images/thumbs/latest-blog1.png') }}" class="cover-img" alt=""></a>
							</div>
							<div class="latest-blog__content">
								<span class="latest-blog__category font-12 flx-align gap-1">
									<span class="icon text-gradient"><i class="fas fa-folder-open"></i></span>
								 Category</span>
								<h6 class="latest-blog__title">
									<a href="{{ path('app_blog_details') }}">A picture is worth standard and stand us return</a>
								</h6>
							</div>
						</div>
						<div class="latest-blog">
							<div class="latest-blog__thumb">
								<a href="{{ path('app_blog_details') }}"> <img src="{{ asset('assets/images/thumbs/latest-blog2.png') }}" class="cover-img" alt=""></a>
							</div>
							<div class="latest-blog__content">
								<span class="latest-blog__category font-12 flx-align gap-1">
									<span class="icon text-gradient"><i class="fas fa-folder-open"></i></span>
								 Category</span>
								<h6 class="latest-blog__title">
									<a href="{{ path('app_blog_details') }}">Your journ homeownership starts here</a>
								</h6>
							</div>
						</div>
						<div class="latest-blog">
							<div class="latest-blog__thumb">
								<a href="{{ path('app_blog_details') }}"> <img src="{{ asset('assets/images/thumbs/latest-blog3.png') }}" class="cover-img" alt=""></a>
							</div>
							<div class="latest-blog__content">
								<span class="latest-blog__category font-12 flx-align gap-1">
									<span class="icon text-gradient"><i class="fas fa-folder-open"></i></span>
								 Category</span>
								<h6 class="latest-blog__title">
									<a href="{{ path('app_blog_details') }}">Trust us to guide you the a through the process</a>
								</h6>
							</div>
						</div>
					</div>
                    <div class="common-sidebar">
						<h6 class="common-sidebar__title"> Properties </h6>
						<div class="row gy-4">
							<div class="col-lg-6 col-sm-4 col-6">
								<a href="{{ path('app_property') }}" class="properties-item d-block w-100">
									<img src="{{ asset('assets/images/thumbs/properties-1.png') }}" alt="Property Image" class="cover-img">
									<span class="properties-item__text">Relax House</span>
								</a>
							</div>
							<div class="col-lg-6 col-sm-4 col-6">
								<a href="{{ path('app_property') }}" class="properties-item d-block w-100">
									<img src="{{ asset('assets/images/thumbs/properties-2.png') }}" alt="Property Image" class="cover-img">
									<span class="properties-item__text">Hunting Adventure</span>
								</a>
							</div>
							<div class="col-lg-6 col-sm-4 col-6">
								<a href="{{ path('app_property') }}" class="properties-item d-block w-100">
									<img src="{{ asset('assets/images/thumbs/properties-3.png') }}" alt="Property Image" class="cover-img">
									<span class="properties-item__text">Homeowner ship</span>
								</a>
							</div>
							<div class="col-lg-6 col-sm-4 col-6">
								<a href="{{ path('app_property') }}" class="properties-item d-block w-100">
									<img src="{{ asset('assets/images/thumbs/properties-4.png') }}" alt="Property Image" class="cover-img">
									<span class="properties-item__text">Real Dreams</span>
								</a>
							</div>
							<div class="col-lg-6 col-sm-4 col-6">
								<a href="{{ path('app_property') }}" class="properties-item d-block w-100">
									<img src="{{ asset('assets/images/thumbs/properties-5.png') }}" alt="Property Image" class="cover-img">
									<span class="properties-item__text">New Doors</span>
								</a>
							</div>
							<div class="col-lg-6 col-sm-4 col-6">
								<a href="{{ path('app_property') }}" class="properties-item d-block w-100">
									<img src="{{ asset('assets/images/thumbs/properties-6.png') }}" alt="Property Image" class="cover-img">
									<span class="properties-item__text">The Heart</span>
								</a>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_cta.html.twig' %}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<style type="text/css">
	#map{ /* Hauteur nécessaire afin d'afficher la carte */
		height: 375px;
	}
</style>
{% endblock %}

{% block javascript %}
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script>
	let lat = document.getElementById("lat").getAttribute("data-latitude");
	let lon = document.getElementById("long").getAttribute("data-longitude");
	
	function initMap() {
		let map = L.map('map').setView([lat, lon], 11);
		L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		minZoom: 1,
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
		}).addTo(map);
		let marker = L.marker([lat, lon]).addTo(map);
	}
	
	window.onload = function() {
		initMap();
	};
</script>
{% endblock %}
